<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.1.0" targetFramework="net452" />
  <package id="ExcelLibrary" version="1.2011.7.31" targetFramework="net452" />
  <package id="LinqToExcel" version="1.11.0" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net452" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net452" />
</packages>